# 自动检测文本文件并规范化行尾
* text=auto

# 源代码文件
*.c text eol=lf
*.h text eol=lf

# 脚本文件
*.sh text eol=lf

# 文档文件
*.md text eol=lf
*.txt text eol=lf

# 配置文件
*.yml text eol=lf
*.yaml text eol=lf
CMakeLists.txt text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

# 二进制文件
*.a binary
*.so binary
*.o binary

